/*styley.css*/

body {
	font-family: 'Inconsolata' ;
}
#page {
    width: 900px;    
    margin: auto;
    text-align: center;
     
}

#svg-logo-container { 

}

nav ul{
    
    padding: 8px 0px;
}
nav li{
	display: inline;
	padding:20px;
}
h1 span {
	color:gold;
	letter-spacing: 8px;
}